.page {
  max-width: 1280px;
  background: #000;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;

}

.header {
  max-width: 934px;
  margin: 0 auto;
}

.header__logo {
  background: url(./images/logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 142px;
  height: 33px;
  margin: 45px 0 41px 27px;
}

@media (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin: 28px 0 31px 27px;
  }
}

.header__line {
  border: #545454 1px solid;
  opacity: 0.7;
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
}

.profile {
  display: flex;
  margin: 40px auto 51px;
  max-width: 918px;
  padding: 0 19px;
  box-sizing: border-box;
}

@media (max-width: 625px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }
}

.profile__avatar {
  background: url(./images/avatar.jpg);
  background-size: 100%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__container {
  display: flex;
  padding-left: 30px;
}

@media (max-width: 425px) {
  .profile__container {
    padding-left: 28px;
  }
}

.profile__info {
  margin-top: 22px;
}

@media (max-width: 425px) {
  .profile__info {
    text-align: center;
    margin-top: 26px;
  }
}

.profile__title {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 16px;
  padding: 0;
}

@media (max-width: 425px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 14px;
  }
}

.profile__subtitle {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media (max-width: 425px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}

.profile__edit-button {
  background: url(./images/Edit\ Button.svg);
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin-top: 37px;
  margin-left: 18px;
  border: 0;
}

@media (max-width: 425px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 34px;
    margin-left: 10px;
  }
}

.profile__add-button {
  background: url(./images/add-button.svg);
  width: 150px;
  height: 50px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 35px 0 35px auto;
}

@media (max-width: 425px) {
  .profile__add-button {
    width: 100%;
    margin: 36px 0 0;
  }
}

.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  max-width: 918px;
  padding: 0 19px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.element {
  background-color: #fff;
  width: 282px;
  height: 361px;
  border-radius: 10px;
}

.element__image {
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
}

.element__items {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 25px 20px 31px 21px;
}

.element__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.element__like {
  background: url(./images/like.svg);
  width: 22px;
  height: 19px;
  margin-top: 5px;
}

.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 67px 19px 60px;

}

.footer__author {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}








.popup {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup_is-opened {
  display: flex;
}

/*.popup__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}*/

.popup__container {
  position: relative;
  max-width: 430px;
  width: 100%;
  padding: 0 19px;
}

.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  /*max-width: 430px;
  width: 100%;*/
  height: 330px;
  background: #fff;
  border-radius: 10px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
}
  

.popup__close-button {
  background: url(./images/close-button.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  position: absolute;
  right: -40px;
  top: -40px;
  border: 0;
}
@media (max-width:425px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -40px;
  }
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 47px;
  padding: 0;
}


@media (max-width: 425px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  margin: 0 0 30px;
  padding: 0;
  border: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.popup__status {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.popup__save-button {
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  text-align: center;
  height: 50px;
  border-radius: 2px;
  margin: auto 0 0
}

@media (max-width: 425px) {
  .popup__save-button{
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}

.popup__save-button:hover {
  opacity: 0.8;
}